CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.idea
charts
data_euler.txt
data_euler_mid.txt
data_rk4.txt
cmake-build-debug